@import "tailwindcss";

#root {
  padding: 0.8rem;
  background-color: #e3d5b8;
  min-height: 100vh;
  color: black
}
@theme {
  --color-cabecalho: #3B668C;
  --color-pedidos-button: #6AAED9;
  --color-add-pedido: #3973BF;
  --color-nav: #3973BF;
  --color-category-selec: #4E98D9;
  --color-card-pedido: #ffffff;
  --color-list: #6195da;
}
